.wrapper {
    height: 100%;
    min-height: 100vh;
    margin:0px auto; 
    position: relative;/*←相対位置*/
    box-sizing: border-box;/*←全て含めてmin-height:100vhに*/
}

header {
    background: #222222;
    color: #FFFFFF;
    padding: 10px;
    position:relative;
    top:0px;
    width: 100%;
}

.container {
    max-width: 1000px;
    padding-top: 10px;/*←footerの高さ*/
    padding-bottom: 120px;/*←footerの高さ*/
    display: flex;
    margin: 0 auto;
}

.main {
    background: pink;
    width: 70%;
}

.side {
    background: orange;
    width: 20%;
}

footer {
    background:#3f4850;
    text-align: center;
    color:#b2b1b0;
    padding: 10px 0;
    width: 100%;

    position:absolute;
    bottom:0; 
    
}

/* navbar */
nav{
	-webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 2px 4px rgba(0,0,0,0.5);
	-o-box-shadow: 0 2px 4px rgba(0,0,0,0.5);
	box-shadow: 0 2px 4px rgba(0,0,0,0.5);

	border-radius: 0;
}

@media (max-width: 600px) {
    .container {
        flex-direction: column;
    }
    .main, .side {
        width: 100%;
    }
}