---
layout: default
---
<div class="row">
  <div id="myArticle" class="col-md-10">
    <div class="post-area post">
      
                         <!-------------------------------------------------------------------->
                    <div class="row">
                        <div class="col-md-4">
                            <img border="0" src="zhou.jpg" height="70%" width="70%">
                        </div>

                        <div id="biography" class="col-md-8">
                            <span>
                                <font size="6"><b>Xihong Zhou</b></font>
                            </span>
                            <p>
                                <font size="4">PhD student<br>
                                    <a href="http://larissa.cs.ehime-u.ac.jp/">Computer System Laboratory</a><br>
                                    <a
                                        href="https://www.eng.ehime-u.ac.jp/rikougaku/outline/organization/ecs_cs_en.html">Department
                                        of Computer Science</a><br>
                                    <a href="https://www.ehime-u.ac.jp/">Ehime University</a><br>
                                    E-mail: g863003a@mails.cc.ehime-u.ac.jp <br>
                                </font>
                            </p><br>
                            <span class="Apple-style-span"
                                style="border-collapse: separate; color: rgb(0, 0, 0); font-family: Simsun; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: normal; orphans: 2; text-align: -webkit-auto; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-border-horizontal-spacing: 0px; -webkit-border-vertical-spacing: 0px; -webkit-text-decorations-in-effect: none; -webkit-text-size-adjust: auto; -webkit-text-stroke-width: 0px; font-size: medium; ">
                            </span>
                        </div>
                    </div><br>
                    <!--------------------------------Brief Biography------------------------------------>
                    <p align="justify" style="margin-bottom: 0.5em">
                        <font size="3"><b>Brief Biography:</b></font>
                        <font size="3.0">
                            Xihong Zhou is received the BS degree from the College of Electrical and Information
                            Engineering, BeiHua University, China, in 2016, and the MS degree from the Department of
                            Computer Science, Ehime University, Japan, in 2019.
                            Currently, he is a second year PhD student in the Department of Computer Science at Ehime
                            University. His research interest includes field testing, fault diagnosis for digital
                            systems, and design for testability.
                        </font>
                    </p>
                    <hr>
      <article>
        {{content}}
      </article>
      <hr>
      <div class="bdsharebuttonbox">
        <a href="#" class="bds_more" data-cmd="more"></a>
        <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
        <a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
        <a href="#" class="bds_douban" data-cmd="douban" title="分享到豆瓣网"></a>
        <a href="#" class="bds_fbook" data-cmd="fbook" title="Share to Facebook"></a>
        <a href="#" class="bds_copy" data-cmd="copy" title="分享到复制网址"></a>
      </div>
      <script>
        window._bd_share_config = { "common": { "bdSnsKey": {}, "bdText": "", "bdMini": "2", "bdMiniList": false, "bdPic": "", "bdStyle": "1", "bdSize": "24" }, "share": {} }; with (document) 0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion=' + ~(-new Date() / 36e5)];
      </script>
    </div>
    {% include comments.html %}
  </div>
  <div id="content" class="col-md-2">
    <!-- <div id="myAffix" class="shadow-bottom-center hidden-xs" data-spy="affix" data-offset-top="0" data-offset-bottom="-20"> -->
    <!--     <div id="myAffix" class="shadow-bottom-center hidden-xs"> -->
    <div class="shadow-bottom-center hidden-xs affix">
      <div class="categories-list-header">
        Content
      </div>
      <div class="content-text"></div>
    </div>
  </div>
</div>
